<main>
  <div class="body">
    <demo-ng-content>
      <ng-container class="item-label">姓名：</ng-container>
      <input class="item-value" nz-input placeholder="请输入姓名">
    </demo-ng-content>
    <demo-ng-content>
      <ng-container class="item-label">年龄：</ng-container>
      <input class="item-value" nz-input placeholder="请输入年龄">
    </demo-ng-content>
    <demo-ng-content>
      <ng-container class="item-label">身份证：</ng-container>
      <input class="item-value" nz-input placeholder="请输入身份证号码">
    </demo-ng-content>
  </div>
</main>
